<footer>
    <div class="footer-container">
        <div class="top-div">
            <div class="left-box-t">
                <div class="first-list-div">
                    <p>Resources</p>
                    <a >Gift Cards</a>
                    <a>Find a Store</a>
                    <a>Become a Member</a>
                    <a>Nike x NBA </a>
                    <a>Nike Journal </a>
                    <a>Site Feedback </a>
                </div>
                <div class="seconde-list-div">
                    <p>HELP</p>
                    <small>Get Help</small>
                    <small>Order Status</small>
                    <small>Shipping and Delivery</small>
                    <small>Returns</small>
                    <small>Order Cancellation</small>
                    <small>Payment Options</small>
                    <small>Gift Card Balance</small>
                    <small>Contact Us</small>
                </div>
                <div class="therd-list-div">
                    <p>Company</p>
                    <small>About Nike</small>
                    <small>News</small>
                    <small>Careers</small>
                    <small>Investors</small>
                    <small>Purpose</small>
                    <small>Sustainability</small>
                </div>
                <div class="forth-list-div">
                    <p>Promotions & Discounts</p>
                    <small>Student</small>
                    <small>Military</small>
                    <small>Teacher</small>
                    <small>First Responders & Medical Professionals</small>
                    <small>Birthday</small>
                </div>
            </div>

            <div class="right-box-t">
                    
            </div>
        </div>
        <div class="bottom-div">
            <div class="left-box-b">

            </div>

            <div class="right-box-b">


            </div>
        </div>
    </div>
</footer>
