<header>
    <div class="header-container">

        <div class="flex-box">

            <div class="logo-div">
                <img style="width: 60px;" src="assets/nike-logo.png">
            </div>
            
            <div class="list-div">

                <h3 class="roboto-medium">Mean</h3>

                <h3 class="roboto-medium">Women</h3>

                <h3 class="roboto-medium">Kids</h3>

            </div>

            <div class="cart-div">              
                    <img style="width: 42px;" src="assets/cart-icon.png">
            </div>

        </div>

    </div>

</header>