<header>
    <div class="header-container">

        <div class="flex-box">

            <div class="logo-div">
                <img style="width: 60px; cursor: pointer;" routerLink=""  src="assets/images/nike-logo.png">
            </div>
            
            <div class="list-div">

                <h3 class="roboto-medium" [routerLink]="['men']">Men</h3>

                <h3 class="roboto-medium" [routerLink]="['women']">Women</h3>

                <h3 class="roboto-medium" [routerLink]="['kids']">Kids</h3>

            </div>

            <div class="cart-div">              
                    <img style="width: 42px; cursor: pointer;" [routerLink]="['card']" src="assets/images/cart-icon.png">
            </div>

        </div>

    </div>

</header>