.first-section{
    width: 100%;
    .container{
        max-width: 100vmax;

        .child-container{

            .main-photo-div{
                width: 100%;
                .main-photo{width: 100%;}
            }

            .mphoto-description-div{
                text-align: center;
                font-family: "Roboto", sans-serif;
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                row-gap: 15px;

                .first-p{font-size: 16px; font-weight: 500;}
                .seconde-h1{font-size: 76px;  font-weight: 700; }
                .therd-p{font-size: 16px; font-weight: 500;}
            }

            .classics-spotlight{
                overflow: hidden;
                margin-top: 170px;

                .classic-title{
                    padding-bottom: 45px;
                    padding-left: 40px;
                    font-size: 30px;
                    font-weight: 500;
                }
               

                &:hover{
                    animation-play-state: paused;
                }

                .card-slide{
                     animation: 8s slide infinite linear;
                    white-space: nowrap;

                    &:hover{
                        animation-play-state: paused;
                    }

                    img{
                        width: 268px;
                        margin:0 15px;
                    }
                }
            }

       

            .popular-right-now-div{
                    width: 100%;
                    margin-top: 140px;

                    .title-popular{
                        padding: 0 40px 45px;
                        font-size: 30px;
                        font-weight: 500;
                    }

                    .card{
                        display: flex;
                        width: 100%;
                        overflow-y: hidden;
                        overflow-x: hidden;
                        padding: 0px 40px;

                        .follow-div{
                            img{
                                width: 450px;
                                margin-right: 20px;
                            }

                            .card-description-div{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                row-gap: 5px;

                                .name-p{font-size: 19px;}
                                .style-small{color: #707072; font-size: 16px; display: block;}

                            }
                        }
                    }
            }


            .trendig{
                padding: 0px 40px;
                margin-top: 140px;
                padding-bottom: 90px;

                    .trending-title{
                        font-size: 30px;
                        font-weight: 500;
                    }

                .trendig-box{
                    display: flex;
                    justify-content: space-between;
                    padding-top: 45px;

                    .trending-single-card{
                       
                        .inside-trendig-card-div{

                            display: flex;
                            flex-direction: column;
                            row-gap: 12px;
                          

                            .trendig-image{
                                width: 460px;
                                height: 520px;
                                object-fit: cover;
                            }

                            .image-title{
                                font-weight: 500;
                                letter-spacing: 0.2px;
                                font-size: 19px;
                            }

                        }

                    }
                }

            }
        }
    }
}


 @keyframes slide {
     from{transform: translateX(15%);}
     to{transform: translateX(-100%);}
 }

