.first-section{
    width: 100%;
    .container{
        max-width: 100vmax;

        .child-container{

            .main-photo-div{
                width: 100%;
                .main-photo{width: 100%;}
            }

            .mphoto-description-div{
                text-align: center;
                font-family: "Roboto", sans-serif;

                .first-p{font-size: 16px; font-weight: 500;}
                .seconde-h1{font-size: 76px;  font-weight: 700; }
                .therd-p{font-size: 16px; font-weight: 500;}
            }

            .classics-spotlight{
                overflow: hidden;
                padding: 60px 0;
               

                &:hover{
                    animation-play-state: paused;
                }

                .card-slide{
                    animation: 2s slide infinite linear;
                    white-space: nowrap;

                    &:hover{
                        animation-play-state: paused;
                    }

                    img{
                        width: 270px;
                        margin:0 15px;
                    }
                }
            }

       

            .popular-right-now-div{
                    width: 100%;

                    .card{
                        display: flex;
                        width: 100%;
                        overflow-y: hidden;
                        overflow-x: hidden;
                        padding: 0px 30px;

                        .follow-div{
                            img{
                                width: 450px;
                                margin-right: 20px;
                            }

                            .card-description-div{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                row-gap: 5px;

                                .name-p{font-size: 19px;}
                                .style-small{color: #707072; font-size: 16px; display: block;}

                            }
                        }
                    }
            }
        }
    }
}


@keyframes slide {
    from{transform: translateX(0);}
    to{transform: translateX(-100%);}
}