<section class="first-section">
    
    <div class="container">

        <div class="child-container">
            
            <div class="main-photo-div">
                <img class="main-photo" src="assets/images/pop.jpg" alt="">
            </div>
    
            <div class="mphoto-description-div">
    
                <p class="first-p">Nike Women's Week</p>
                <h1 class="seconde-h1">THE CELEBRATION IS ON</h1>
                <p class="therd-p">fresh voices,fire fits, and new kicks.Shop a brand new collection inspired by strong women. </p>
    
            </div>
    
            <div class="classics-spotlight">
                <h1 class="classic-title">Classics Spotlight</h1>
                <div class="card-slide" #carousel>
               
                    <ng-container *ngFor="let shoe of classicShoes" >
                        <img [src]="shoe.image" [routerLink]="['/shoeDetails/' , shoe.id]">
                    </ng-container> 
                    <ng-container *ngFor="let shoe of classicShoes" >
                        <img [src]="shoe.image" [routerLink]="['/shoeDetails/' , shoe.id]">
                    </ng-container>  
               

                </div>
                
            </div>
            
            <div class="popular-right-now-div">
                <h1 class="title-popular">Popular Right Now</h1>
                <div class="card" #popularNow  (mousedown)="onMouseDown(popularNow, $event)" (mouseleave)="onMouseLeave(popularNow)" (mouseup)="onMouseUp(popularNow)" (mousemove)="onMouseMove(popularNow, $event)">
                    <ng-container *ngFor="let shoe of popularShoes">
                        <div class="follow-div">
                            <div class="image-div">
                                <img [src]="shoe.image" [routerLink]="['/shoeDetails/', shoe.id]">
                            </div>
                   
                            <div class="card-description-div">
                                <p class="name-p">{{shoe.name}}</p>
                                <small class="style-small">{{shoe.style}}</small>
                                <p class="price-p">{{shoe.price}}$</p>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>


            <div class="trendig">
                <h1 class="trending-title">Trending</h1>

                <div class="trendig-box">
                    
                    <div class="trending-single-card">
                        <div class="inside-trendig-card-div">
                            <img class="trendig-image" src="https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_467,c_limit/6aa6a559-e1b7-4d4b-ab1d-61548cbb444c/nike-just-do-it.jpg" alt="">
                            <h3 class="image-title">New in : Nike Ultrafly</h3>
                        </div>
                    </div>

                    <div class="trending-single-card">
                        <div class="inside-trendig-card-div">
                            <img class="trendig-image" src="https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_467,c_limit/9244bdba-3147-475d-bbff-44ba55a2af1a/nike-just-do-it.jpg" alt="">
                            <h3 class="image-title">Timeless Fits</h3>
                        </div>
                    </div>

                    <div class="trending-single-card">
                        <div class="inside-trendig-card-div">
                            <img class="trendig-image" src="https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_467,c_limit/2de4c581-6884-4db7-98af-0b3dbd38fe64/nike-just-do-it.jpg" alt="">
                            <h3 class="image-title">Nike Basketball"s Latest</h3>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        
    </div>
   






</section>




