<section class="first-section">
    
    <div class="container">

        <div class="child-container">
            
            <div class="main-photo-div">
                <img class="main-photo" src="assets/images/pop.jpg" alt="">
            </div>
    
            <div class="mphoto-description-div">
    
                <p class="first-p">Nike Women's Week</p>
                <h1 class="seconde-h1">THE CELEBRATION IS ON</h1>
                <p class="therd-p">fresh voices,fire fits, and new kicks.Shop a brand new collection inspired by strong women. </p>
    
            </div>
    
            <div class="classics-spotlight">
                <div class="classic-card">
                    <ng-container *ngFor="let pshoe of popularShoes">
                        <img [src]="pshoe.image" alt="">
                    </ng-container>
                </div>
                
            </div>
            
            <div class="popular-right-now-div">
                <div class="card" #popularNow  (mousedown)="onMouseDown(popularNow, $event)" (mouseleave)="onMouseLeave(popularNow)" (mouseup)="onMouseUp(popularNow)" (mousemove)="onMouseMove(popularNow, $event)">
                    <ng-container *ngFor="let shoe of popularShoes">
                        <div class="follow-div">
                            <div class="image-div">
                                <img [src]="shoe.image" [routerLink]="['/shoeDetails/', shoe.id]">
                            </div>
                   
                            <div class="card-description-div">
                                <p class="name-p">{{shoe.name}}</p>
                                <small class="style-small">{{shoe.style}}</small>
                                <p class="price-p">{{shoe.price}}$</p>
                            </div>
                        </div>
                        
                    </ng-container>
                </div>
            </div>
        </div>
        
    </div>
   






</section>





<!--                 
                            <div class="popular-main-card">
            
                                <div class="popular-card-image-div">
                                    <img [src]="shoe.image" class="popular-card-image" alt="">
                                </div>
            
                                <div class="name-st-pr-description-div">
                                    <h3>{{shoe.name}}</h3>
                                    <small>{{shoe.style}}</small>
                                    <p>{{shoe.price}}</p>
                                </div> -->
                            <!-- </div> -->