<section class="first-section">
    
    <div class="container">

        <div class="child-container">
            
            <div class="main-photo-div">
                <img class="main-photo" src="assets/main-photo.jpg" alt="">
            </div>
    
            <div class="mphoto-description-div">
    
                <p class="first-p">Nike Women's Week</p>
                <h1 class="seconde-h1">THE CELEBRATION IS ON</h1>
                <p class="therd-p">fresh voices,fire fits, and new kicks.Shop a brand new collection inspired by strong women. </p>
    
            </div>
    
            <div class="classics-spotlight">
                
            </div>

            <div class="popular-right-now-div" *ngFor="let shoe of popularShoes">
                <div>
                    
                </div>

            </div>
    
        </div>
        
    </div>
   






</section>
